*{
    padding: 0px;
    margin: 0px;

}
body{
    margin: 0px;
}

.container{
    background-color: rgb(0, 132, 255);
    color: rgb(11, 11, 11);
    margin: 30px;
    padding: 30px;
    line-height: 35px;
}

.container1

{
    margin: 30px;
    margin-top: 6px;
    font-size:large;
    
}

.main_container{
    margin: 30px;
    margin-top: 14px;
    display: flex;
    gap: 10px;
    

}

.sub_container1
{
    background-color: blanchedalmond;
    padding: 15px;
    
}
.sub_container1 h1{
    color: brown;
    margin-bottom: 10px;
}
.sub_container2
{
    
 background-color: blueviolet;
 padding: 15px;
}
.sub_container2 h1{
color: aliceblue;
}
.sub_container2 p{
    margin-top: 10px;
}
.end-part
{
background-color:aqua;
padding: 30px;
margin: 30px;

}